!!! 5
html
	head
		meta(charset='utf-8')
		title
			| Bug War Lobby
		script(src='/socket.io/socket.io.js')
		script(type='text/javascript', src='static/lobby.js')
		link(rel='stylesheet', type='text/css', href='static/style/lobby.css')
	body
		include common/header.jade
		.main
			include lobby/user-info.jade
			include lobby/statistics.jade
			article
				include lobby/games.jade
				include lobby/new-game.jade
				include lobby/chat.jade
		include common/footer.jade


