doctype html
html
	head
		link(href='static/style/login.css', rel='stylesheet')
		script(type='text/javascript', src='static/login.js')

	body
		.content
			.front
				.welcome
				.signin
					form(action='/login', method='POST').signin-box
						.username
							input(type='text', placeholder='Username', name='username').sign-input
						.password
							input(type='text', placeholder='Password', name='password').sign-input
						button(type = 'submit').submit
							| Sign in
				.signup#signup
					form(action='/signup', method='POST').signup-box#signupBox
						h2
							| Not registered yet ? Sign up!
						div
							input(type='text', name='mail', placeholder='Email', autocomplete='off').sign-input#signupMail
							#signupMailValidation.validation
								| Mail must be valid email address, i.e. it should at least contain @!
						div
							input(type='text', name='name', placeholder='Name', autocomplete='off').sign-input#signupName
							#signupNameValidation.validation
								| Name should not be empty!
						div
							input(type='text', name='surname', placeholder='Surname', autocomplete='off').sign-input#signupSurname
							#signupSurnameValidation.validation
								| Surname should not be empty!
						div
							input(type='text', name='username', placeholder='Username', autocomplete='off').sign-input#signupUsername
							#signupUsernameValidation.validation
								| Username is empty or less than 6 characters or in use!
						.password
							input(type='password', name='password', placeholder='Password', autocomplete='off').sign-input#signupPassword
							#signupPasswordValidation.validation
								| Password is empty or less than 6 characters!
						button.submit#signupSubmit
							| Sign in
					.success#signupSuccess
						| You have successfully registered! Now you can log in
		include common/footer.jade

