@color: white;
 .gradient (@color1: yellow, @color2: green) {
  background-image: linear-gradient(to bottom, @color1, @color2);
}
.border (@colorb: darkgreen, @x: 2px, @how: solid, @rad: 5px){
  border: @x @how @colorb;
  border-radius: @rad;
}
.display (@how: inline-block){
  display: @how;
}
.decoration (@how: none){
  text-decoration: @how;
}
.liststyle (@how:none){
  list-style: @how;
}
.aligntext (@how: center){
  text-align: @how;
}
.fontstyle (@how: italic){
  font-style: @how;
}

h2 {
  .fontstyle (normal);
  .aligntext;
  color: #370755;
}
header {
  margin: 1em auto 0 auto;
  .aligntext;
  img {
    height: 150px;
    border-radius: 20px;
    box-shadow: 3px 2px 10px 3px #c6c3c6;
  }
}
body {
  width: 90%;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  background:radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}
article {
  .border;
  color: @color;
  padding: 10px;
  margin: 5px 23%;
  background: rgba(0,0,0, 0.5);
  box-shadow: 0px 0px 30px -2px #CEF379;
  h2 {
    color: @color;
  }
  .HostedGame {
    margin-left: -2em;
    & > ul {
      & > li {
        .liststyle;
        .border;
        margin: 10px 10px;
        background: rgba(0, 0, 0, 0.3);
        ul {
          li {
            .liststyle;
            .display;
            .aligntext;
            margin: 5px 3%;
          }
        }
      }
    }
    .hostedBtn {
      .gradient (#2ab01e, #31820e);
      .decoration;
      border-radius: 10px;
      text-shadow: 2px 3px 1px #666666;
      color: @color;
      font-size: 12px;
      padding: 5px 15px 5px 15px;
      &:disabled{
        .gradient (#ac3333, #801d1d);
        &:hover{
          .gradient (#ac3333, #801d1d);
        }
      }
      &:hover{
        .gradient (#1d4715, #0d661b);
      }

    }
    .ulHostedGame {
      & > li {
        & > ul {
          height: 35px;
          margin-left: -1em;
          & > li:last-child {
            float: right;
            margin-top: 0;
          }
        }
      }
      .text {
        .fontstyle;
        font-weight: bold;
        color: #fffede;
      }
    }
  }
  .buttonCreateGame {
    .aligntext;
    button {
      .gradient (#2ab01e, #31820e);
      .decoration;
      &:hover {
        .gradient (#1d4715, #0d661b);
        .decoration;
      }
      border-radius: 20px;
      text-shadow: 4px 3px 0px #666666;
      box-shadow: 2px 3px 6px #474547;
      color: @color;
      font-size: 18px;
      padding: 10px 20px 10px 20px;
    }
  }
  .chat {
    margin-top: 100px;
    padding: 5px;
    box-shadow: 1px 1px 10px 1px #ffab05;
    border-radius: 5px;
    .chat-name {
      .fontstyle;
      &:after{
        content: "]:";
      }
      &:before{
        content: "[";
      }
    }
    .messages {
      & > ul {
        & > li {
          .liststyle;
          .display;
          margin: 0 3%;
          font-size: 12px;
          width: 100%;
          & > div {
            .display;
            margin: 1px 5px;
          }
        }
      }
    }
    .chat-date {
      width: 80px;
      color: #d1d0b6;
      font-size: 8px;
      float: right;
    }
    .message-text {
      vertical-align: top;
      .aligntext;
      button {
        vertical-align: top;
        margin-top:15px;
        color: @color;
        .gradient (#daf227, #b8a02b);
        .decoration;
        .display;
        border-radius: 15px;
        font-size: 11px;
        padding: 5px 15px 5px 15px;
        margin-left: 30px;
        &:hover{
          .gradient (#ebc428, #b0870c);
        }
      }
      textarea {
        .border (darkgoldenrod);
        .display;
        outline: none;
        height: 30px;
        width: 70%;
        padding: 10px;
      }
    }
  }
}
.user {
  float: left;
  padding: 10px;
  width: 20%;
  margin-right: 40px;
  background: rgba(254, 253, 230, 0.85);
  box-shadow: -1px 1px 15px 0px yellow;
  .border (darkgoldenrod);
  span {
    .fontstyle (oblique);
    float: right;
    padding-right: 10px;
  }
}
.statistics {
  float: right;
  padding: 10px;
  width: 20%;
  margin-left: 40px;
  background: rgba(254, 253, 230, 0.85);
  box-shadow: 1px 1px 15px 0px yellow;
  .border (darkgoldenrod);

  .statistics-score {
    .fontstyle;
    float: right;
    padding-right: 10px;
    line-height: 12px;
  }
}
.clear {
  clear: both;
}
footer {
  .aligntext;
  height: 80px;
  ul {
    li {
      .liststyle;
      .display;
      margin: 0 15px;
    }
  }
  img {
    height: 60px;
  }
}

/*

  Fauxy styles for new game popup

*/
.newGameDialog {
  background: white;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 400px;
  margin: auto;
}

.newGameDialog > * {
  display: block;
  color: black;
  margin: 0 auto;
}

.newGameDialog .closeButton {
  float: right;
}
