body{
    background: beige;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}


.content{
    height:540px;
    width:100%;
}

.front{
    height:550px;
    width:910px;
    position: absolute;
    left:45%;
    top:150px;
    margin: -100px 0 0 -400px;
}

.welcome{
    height:300px;
    width:500px;
}

.signin{
    position:absolute;
    top:0;
    background:#fff;
    left:550px;
    width:350px;
    height:138px;
    border: 2px solid darkgreen;
    border-radius: 5px;
}

.signup{
    position:absolute;
    top:155px;
    background:#fff;
    left:550px;
    width:350px;
    height:295px;
    border: 2px solid darkgreen;
    border-radius: 5px;
}

.signin-box{
    margin:15px;
}

.signup-box{
    margin:15px;
}

.submit{
    position:absolute;
    left:65%;
    box-shadow: 0 2px 0 #fff;
    color:#fff;
    background-color:green;
    border-color:black;
    font-weight: bold;
    cursor:pointer;
    border-radius:10px;
    height:30px;
    width:100px;
}

.password{
    position:relative;
    color:black;
    left:auto;
    width:auto;
    margin-bottom: 8px;
}

.sign-input{
    width:300px;
    height: 25px;
    margin: 4px;
    border: 1px solid darkgreen;
    border-radius: 5px;
}

input::-webkit-input-placeholder {
    font-size: 15px;
    padding-left:15px;
    letter-spacing: 3px;
}

input:-moz-placeholder {
    font-size: 15px;
    padding-left:15px;
}

.signup-box h2{
    text-align: center;
    padding: 2px;
    padding-top: 3px;
    font-size: 20px;
    color:slategrey;
}

footer{
    height:100px;
    overflow: hidden;
    display:block;
}

footer ul{
    margin: 0;
    position: relative;
    left: 200px;
    padding-left: 0;
    width:910px;
    height:90px;
    padding-top:10px;
    list-style-type: none;
}


footer ul li{
    display: inline-block;
    text-align: center;
    width:182px;
}
.css3-logo img{

    padding-top: 0;
    height:80px;
    width:70px;
}

.ws-logo img{
    padding-top: 0;
    height:80px;
    width:94px;
}

.mocha-logo img{
    padding-top: 0;
    padding-right: 5px;
    height:60px;
    width:175px;
}

.html5-logo img{
    margin-top: -10px;
    height:80px;
    width:100px;
}

.nodejs-logo img{
    margin-top: -10px;
    height:80px;
    width:170px;
}

.success {
    opacity: .8;
    border: 2px solid darkgreen;
    background: darkcyan;
    padding: 20px;
    position: absolute;
}

.validation {
    border: 2px solid red;
    opacity: .8;
    background: crimson;
    padding: 20px;
    position:relative;
}