body{
	margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial;
    background: url('../i/grass.png');
}

.base{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	border: 2px solid black;
    text-align: center;
}

.base:after{
    content: attr(data-bugs-count);
    display: inline-block;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
    margin-top: 55px;
}
div[id^='red']{
	background: red;
}

div[id^='blue']{
	background: blue;
}

div[id^='neutral']{
	background: silver;
}