.newGame#newGame
    .buttonCreateGame
        button#createGameButton
            | Create Game

    .newGameDialog#newGameDialog
        button.closeButton#closeNewGameDialogButton
            | x
        label(for='numberOfPlayers')
            | Number of players
        input(id='numberOfPlayers',type='text')#numberOfPlayers
        button(id="newGameButton")#startGameButton
            | Start game