//- As statistics is always top5, why bother adding markup in script?

aside.statistics#statistics
	h2
		| Statistics
	ol.ulStatistics#ulStatistics
		li
			span.statistics-name
			span.statistics-score
		li
			span.statistics-name
			span.statistics-score
		li
			span.statistics-name
			span.statistics-score
		li
			span.statistics-name
			span.statistics-score
		li
			span.statistics-name
			span.statistics-score