footer
	ul
		li.nodejs-logo
			img(src='static/i/nodejs-logo.png')
		li.html5-logo
			img(src='http://www.w3.org/html/logo/downloads/HTML5_Badge.svg')
		li.ws-logo
			img(src='static/i/ws_logo.png')
		li.css3-logo
			img(src='static/i/css3_logo.png')
		li.mocha-logo
			img(src='http://pivotal.github.io/jasmine/images/jasmine_logo.png')
